:root {
  --color-main: #4CAF50;
  --color-main-light: #80E27E;
  --color-main-dark: #087F23;
  --color-secondary: #37474F;
  --color-secondary-light: #62727B;
  --color-secondary-dark: #102027;
  --color-gray-dark: #3C463C;
  --color-gray-medium: #9E9E9E;
  --color-gray-light: #f3f6f6;
  --color-red: #C62828;
}
* {
  box-sizing: border-box;
}
body, html, #app {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-gray-light);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.app__container {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 100px 1fr 50px;
  grid-template-columns: 10% 60% 20% 10%;
  grid-template-areas: 
    'header header header header'
    'left body sidebar right'
    'footer footer footer footer'
}
.app__header {
  grid-area: header;
  /* temp for visual*/
  background-color: white;
}
.app__body {
  grid-area: body;
  padding: 10px 0;
  position: relative;
}
.app__sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* temp for visual
  border-left: 1px solid var(--color-gray-medium);
  */
}
.app__footer {
  grid-area: footer;
  background-color: white;
  /* temp for visual
  border-top: 1px solid var(--color-gray-medium);
  */
}
.goals__create {
  width: 80%;
  margin: 0 auto;
}
.content__item {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(13, 13, 18, 0.04);
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}
.content__item_header {
  width: 100%;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: space-between;
}
.content__item_main {
  display: grid;
  grid-template-areas:
    'left right';
  grid-template-columns: 20% 80%;
  padding-top: 10px;
  width: 100%;
  height: 100%
}
.content__item_main_left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__item_main_right {
  grid-area: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item__header {
  margin: 0;
}
.goal__item_size_small {
  background-color: var(--color-gray-light);
  padding: 5px 15px;
  margin: 5px;
  flex: 0 0 31%;
}
.goal__header {
  margin: 0;
}
.cross {
  background: var(--color-gray-light);
  height: 1.5em;
  width: 0.3em;
  position: relative;
  display: inline-block;
  transition: transform 0.5s;
}
.cross:after {
  position: absolute;
  background: var(--color-gray-light);
  content: "";
  height: 0.25em;
  left: -0.6em;
  top: 0.625em;
  width: 1.5em;
  transition: transform 0.5s;
}
.cross__x {
  background: var(--color-gray-light);
  height: 1.5em;
  width: 0.3em;
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.cross__x:after {
  position: absolute;
  background: var(--color-gray-light);
  content: "";
  height: 0.25em;
  left: -0.6em;
  top: 0.625em;
  width: 1.5em;
  transition: transform 0.5s;
}
.loading__container { 
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}
.loading__bar {
  height: 20px;
  width: 200px;
  display: block;
  background-color: var(--color-gray-light);
  margin: 0 auto;
  position: relative;
  /*top: 50%;*/
  opacity: 1;
  transition: opacity 0.25s;
}
.loading__bar.show {
  opacity: 1;
}
.loading__bar:after {
  content: '';
  animation-name: slider;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: var(--color-secondary);
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.loading__spin {
  /*display: none;*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.25);
}
.loading__spin:after {
  content: "";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  border: 5px solid var(--color-gray-light);
  border-top: 5px solid var(--color-main);
  animation: spin 1s infinite;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes slider {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
